---
import type { GetStaticPaths } from "astro";
import type { GetStaticPathsOptions, Page } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import H1 from "~/components/H1.astro";
import Main from "~/components/Main.astro";
import Pagination from "~/components/Pagination.astro";
import PostsList from "~/components/PostsList.astro";
import Layout from "~/layouts/Layout.astro";

export const getStaticPaths = (async ({ paginate }: GetStaticPathsOptions) => {
  const allPosts = await getCollection("posts");
  return paginate(allPosts, { pageSize: 6 });
}) satisfies GetStaticPaths;

type Props = {
  page: Page;
};

const { page } = Astro.props as Props;
const posts = page.data as CollectionEntry<"posts">[];
---

<Layout title="Blog - Astro Sandbox">
  <Main>
    <H1>Rythm Nation Blog</H1>
    <p class="text-zinc-900 text-2xl mb-14 sm:mb-24">
      Join the Community and learn from Music Producers and Enthusiasts
    </p>
    <div class="flex justify-between mb-12">
        <Pagination prev={page.url.prev} next={page.url.next} />
    </div>
    <PostsList posts={posts} />
    <div class="flex justify-between mb-36">
        <Pagination prev={page.url.prev} next={page.url.next} />
    </div>
  </Main>
</Layout>
